.clear {clear: both;}
small {font-size: 11px; color: #291888;}
img {border: none;}
a {color: #3a23bd; text-decoration: none;}
a:hover {color: #000;}
label {padding: 0; margin: 0 0 10px 0;}
input {
	padding: 4px;
	color: #291888;
	border: 1px solid #dcdcdc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	font-size: 14px;
}
input.login { width: 200px; margin: 5px 0 10px 0px;}
input.panjang {width: 90%;}
input.sedang{width: 40%;}
input.pendek{width: 25%;}
input.panjang:focus {-moz-box-shadow: 0px 0px 5px #dcdcdc;-webkit-box-shadow: 0px 0px 5px #dcdcdc; background:#feffdc;text-shadow: 1px 0px #fff; }
input.sedang:focus{-moz-box-shadow: 0px 0px 5px #dcdcdc;-webkit-box-shadow: 0px 0px 5px #dcdcdc; background:#feffdc;text-shadow: 1px 0px #fff;}
input.pendek:focus{-moz-box-shadow: 0px 0px 5px #dcdcdc;-webkit-box-shadow: 0px 0px 5px #dcdcdc; background:#feffdc;text-shadow: 1px 0px #fff;}

	.button {
	cursor: pointer;
	padding: 4px 10px 4px 10px;
	color: #fff;
	background: url(../images/green.jpg) repeat left center;
	border: 1px solid #0000CC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}
.button:hover { color: #2e2e2e;}
.button:active { background: #71bb3b; color: #fff;}
select {padding: 4px;color: #291888;border: 1px solid #dcdcdc;
-moz-border-radius: 3px;-webkit-border-radius: 3px;-o-border-radius: 3px;}
select:focus{-moz-box-shadow: 0px 0px 5px #dcdcdc;-webkit-box-shadow: 0px 0px 5px #dcdcdc; background:#feffdc;text-shadow: 1px 0px #fff;}
textarea:focus{-moz-box-shadow: 0px 0px 5px #dcdcdc;-webkit-box-shadow: 0px 0px 5px #dcdcdc; background:#feffdc;text-shadow: 1px 0px #fff;}
textarea {padding: 4px;color: #291888;border: 1px solid #dcdcdc;
-moz-border-radius: 3px;-webkit-border-radius: 3px;-o-border-radius: 3px; width: 90%;
height: 230px;resize: none;}	
table {
	border: none;
	font-size: 12px;
	
}
td{
	border: none;
	padding: 5px;
}

table.data {border: 1px solid #dcdcdc;  width: 97%; border-collapse: collapse;font-size: 12px;}
th.data {border: 1px solid #dcdcdc; background: url(../images/green.jpg) repeat left center;text-shadow: 1px 0px #003362;color: #fff }
td.data {padding: 4px; border: 1px solid #dcdcdc;color: #291888;vertical-align: top;}
tr.data {background: #fff}
tr.data:hover {background: #feffdc;}
tr.data small a{color: #fff;}
tr.data small{color: #fff;}
tr.data:hover small a{color: #3a23bd;}
tr.data:hover small a:hover{color: #000;}
tr.data:hover small {color: #291888;}		
.quoteOfDay {
	border: 1px solid #cbe0b5;
	background: #f7ffe8 url(../images/daun.png) no-repeat left center;
	float: left;
	width: 640px;
	padding: 10px 10px 10px 70px;
	min-height: 50px;
	font-size: 20px;
	letter-spacing: 1px;
	margin: 10px 0 10px 0;
}
.sukses {
	border: 1px solid #cbe0b5;
	background: #f7ffe8 url(../images/sukses.png) no-repeat left center;
	float: left;
	width: 640px;
	padding: 15px 10px 15px 50px;
	font-size: 16px;
	letter-spacing: 1px;
	margin: 10px 0 10px 0;
	color:#cbe0b5;
}
.gagal {
	border: 1px solid #e78686;
	background: #ffe1e1 url(../images/gagal.png) no-repeat left center;
	float: left;
	width: 640px;
	padding: 15px 10px 15px 50px;
	font-size: 16px;
	letter-spacing: 1px;
	margin: 10px 0 10px 0;
	color: #e78686;
}
.informasi {
	border: 1px solid #86afe7;
	background: #e7f1ff url(../images/informasi.png) no-repeat left center;
	float: left;
	width: 640px;
	padding: 15px 10px 15px 50px;
	font-size: 16px;
	letter-spacing: 1px;
	margin: 10px 0 10px 0;
	color: #86afe7;
}
#header {
	width: 100%;
	border-bottom: 1px solid #dcdcdc;
	background: url(../images/headerbg.jpg) repeat left;
	height: 75px;
	z-index: 1000;
	-moz-box-shadow: 0px 0px 8px #dcdcdc;
	-webkit-box-shadow: 0px 0px 8px #dcdcdc;
}
.inHeader {
	float: center;
	background: url(../images/logo.png) no-repeat left center;
	margin: auto;
	width: 920px;
	height: 45px;
	padding: 15px;
	border-right: 0px solid #dcdcdc;
	border-left: 0px solid #dcdcdc;
}
.inHeaderLogin {
	background: url(../images/logo.png) no-repeat left center;
	height: 75px;
}
.mosAdmin {
	float: right;
	border: 0px solid #dcdcdc;
	margin: 0 1px 0 auto;
	text-align: right;
	padding: 10px 40px 10px 10px;
	background: url(../images/Administrator.png) no-repeat right center;
	text-shadow: 1px 1px #fff;
}
#loginForm {
	width: 380px;
	height: 250px;
	border: 1px solid #dcdcdc;
	float: center;
	text-align: left;
	background:#fff url(../images/lock.png) no-repeat left center;
	margin: 50px auto 0 auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}
.headLoginForm {
	width: 360px;
	padding: 10px 0 10px 20px;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 1px 1px #fff;
	text-align: left;
	height: 20px;
	border-bottom: 1px solid #dcdcdc;
	background: url(../images/headerbg.jpg) repeat left center;
	-moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px;
}
.fieldLogin {
	margin: 20px 5px 0 140px;
}
#wrapper {
	width: 950px;
	padding: 15px 0 0 0;
	position: relative;
	border-left: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	float: center;
	margin: auto;
	text-align: left;
	-moz-box-shadow: 0px 0px 8px #dcdcdc;
	-webkit-box-shadow: 0px 0px 8px #dcdcdc;
}
#leftBar {
	width: 185px;
	float: left;
	padding: 0 0 20px 10px;
	border-right: 0px solid #dcdcdc;
	text-align: left;
}
#leftBar ul {list-style: none;padding: 0; margin: 0;font-size: 13px;}
#leftBar ul li {
	width: 164px;
	background: url(../images/icon-left.png) no-repeat left center, url(../images/green.jpg) repeat left center;
	padding: 10px 0 10px 10px; margin-top: 8px;margin-left: 9px;
	border: 1px solid #dcdcdc;
	-moz-border-radius-topleft: 8px;-moz-border-radius-bottomleft: 8px;
	-webkit-border-top-left-radius: 8px;-webkit-border-bottom-left-radius: 8px;
	-o-border-top-left-radius: 8px;-o-border-bottom-left-radius: 8px;}
#leftBar ul li a {
	width: 100%;
	color: #FFCC00;
    cursor: pointer;
	padding: 10px 10px 10px 20px;
    -webkit-transition: padding-left 250ms ease-out;
	-moz-transition: padding-left 250ms ease-out;
	-o-transition: padding-left 250ms ease-out;
}
#leftBar ul li a:hover {
    padding-left: 30px;
	text-decoration: none;
	color: #fff;
	text-shadow: 1px 1px #496d2a;
}
#rightContent {
	width: 725px;
	padding: 5px;
	float: right;
	border-left: 0px solid #dcdcdc;
	text-align: left;
	background: #fff;
}
#rightContent h3 {font-size: 20px; font-weight: normal; padding: 0; margin: 5px; border-bottom: 1px dashed #dcdcdc; }
.shortcutHome a{
	width: 60px;
	padding: 10px;
	border: 1px solid #dcdcdc;
	height: 90px;
	float: left;
	font-size:10px;
	margin: 5px 0 5px 5px;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}
.shortcutHome a:hover{
	color: #000066;
	text-decoration: none;
}
.shortcutHome a:hover img{
	opacity: 1;
	color: #291888;
	padding-top: 10px;
}
.shortcutHome img {
	opacity: 0.8;
    -webkit-transition: padding-top 250ms ease-out;
	-moz-transition: padding-top 250ms ease-out;
	-o-transition: padding-top 250ms ease-out;
}

#smallRight {
	width: 650px;
	padding: 5px 10px 5px 10px;
	margin: 10px;
	margin-left:0px;
	min-height:1000px;
	border: 1px solid #dcdcdc;
	float: left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}
#smallRight h3 {font-size: 16px; padding: 5px; margin: 0px; border-bottom: 1px solid #dcdcdc;}
#footer {
	width: 950px;
	padding: 15px 0 15px 0;
	text-align: center;
	font-size: 11px;
	border-top: 1px solid #dcdcdc;
	background: #fff;
}
/*////////////////////////////////
Assisning Task to students
///////////////////////////////*/
#videoBooks{
	width:580px;
	min-height:250px;
	background-color:#FFF;
	/*border:dashed;
	border-style:dashed;
	*/
	display:none;
	padding:5px;
	color:#903;
}
#audioStory{
	width:590px;
	min-height:210px;
	background-color:#FFF;
	display:none;
}
#phonomics{
	width:590px;
	height:400px;
	background-color:#66C;
	display:none;
}
#wordPower{
	width:590px;
	height:400px;
	background-color:#C93;
	display:none;
}
.active {
	background-position: right 12px;
}

#showSyncDate{
	width:555px;
	min-height:400px;
	background-color:#FFC;
	/*display:none;*/
}